<!-- ヘッダーは共通の処理のためapplication.html.erbに移動 -->





<!--  配列をeach文で配列から出力-->

<div class="main posts-index">

  <!-- 検索フォームの追加 -->
  <div class="search-form">
    <%= form_with url: '/posts/search', method: :get, local: true do |form| %>
      <div>
        <%= form.label :category, "カテゴリー検索" %>
        <%= form.select :category, Category.pluck(:name, :id), include_blank: "すべて" %>
      </div>

      <div>
      <%= form.label :keyword, "キーワード検索" %>
      <%= form.text_field :keyword, placeholder: "例) 相談、悩み、友達" %>
      </div>

      <div>
        <%= form.submit "検索" %>
      </div>
      <!-- タグの検索フォームを追加 -->
      <div>
        <%= form.label :tag_name, "タグ検索" %>
        <%= form.text_field :tag_name, placeholder: "例) 仕事、恋愛、勉強" %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
            <!-- 匿名の場合は、匿名アイコンを表示する -->
            <% if post.anonymous %>
              <img src="/user_images/default_anonymous.png" alt="匿名アイコン" width="65" height="65">
            <% else %>
              <!-- ユーザーの画像が表示されるように、以下のsrcに値を追加している -->
              <img src='<%= "/user_images/#{post.user.image_name}" %>'> 
            <% end %>
        </div>
        <!-- 投稿のユーザー名とカテゴリーと投稿内容を表示する -->
        <div class="post-right">
          <div class="post-user-name">
            <!-- 匿名の場合は、匿名名を表示する -->
            <% if post.anonymous %>
              <p>匿名ユーザー</p>
            <% else %>
              <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作っています。 -->
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            <% end %>
          </div>
          <div class="post-category">
            <%= post.category.name %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>