<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <!-- ユーザーの画像を表示する -->
        <% if @post.anonymous %> 
          <img src="/user_images/default_anonymous.png" alt="匿名アイコン">
          <p>匿名ユーザー</p> 
        <% else %>

          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを設定している -->
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        <% end %>
      </div>

      <!-- 投稿のカテゴリーを表示する -->
      <div class="post-category">
        <%= @category.name %>
      </div>

      <p>
        <%= @post.content %>
      </p>
      <!-- タグを表示する -->
      <div class="post-tags">
        <% @tags.each do |tag| %>
          <!-- link_toメソッドを用いて、タグの名前をクリックするとそのタグがついた投稿一覧ページに遷移するようにしている -->
          <%=link_to(tag.name,"/tags/#{tag.name}") %>
      <% end %>

      <div class="post-time">      
        <%= @post.created_at %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      <!--共感！済みの場合の処理-->
        <%= link_to("/likes/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) do %>
          <span class="fa fa-heart liked-btn"></span> 共感済み
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", method: :post, data: { "turbo-method": :post }) do %>
          <span class="fa fa-heart unliked-btn"></span> 共感！
        <% end %>
      <% end %>
      <!-- 共感の数を表示する -->
      <%= @likes_count %> 
      <!-- 共感したユーザーのリストの表示を行う画面へのリンクを追加 -->
      <%= link_to("共感したユーザー一覧", "/posts/#{@post.id}/likeusers") %>


      <!-- 編集ページへのリンクでログインしているユーザーと投稿者が同じ場合のみ表示する -->
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) %>
        </div>
      <% end %>


      <div class="post-comments">
      <h3>コメント一覧</h3>
      <% @post.comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
          <% if comment.user_id == @current_user.id %>
            <%= link_to "削除", destroy_comment_path(@post.id, comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
      </div>
        <!-- コメント投稿フォーム -->
      <div class="new-comment">
        <%= form_with url: create_comment_path(@post.id), method: :post, local: true do |form| %>
        <div class="form-group">
          <%= form.label :content, "コメント" %>
          <%= form.text_area :content, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "投稿", class: "btn btn-primary" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>