<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <!-- ユーザーの画像を表示する -->
        <% if @post.anonymous %> 
          <img src="/user_images/default_anonymous.png" alt="匿名アイコン">
          <p>匿名ユーザー</p> 
        <% else %>

          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを設定している -->
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        <% end %>
      </div>

      <!-- 投稿のカテゴリーを表示する -->
      <div class="post-category">
        <%= @category.name %>
      </div>

      <p>
        <%= @post.content %>
      </p>
      <!-- タグを表示する -->
      <div class="post-tags">
        <% @tags.each do |tag| %>
          <!-- link_toメソッドを用いて、タグの名前をクリックするとそのタグがついた投稿一覧ページに遷移するようにしている -->
          <%=link_to(tag.name,"/tags/#{tag.name}") %>
      <% end %>

      <div class="post-time">      
        <%= @post.created_at %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      <!--共感！済みの場合の処理-->
        <%= link_to("/likes/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) do %>
          <span class="fa fa-heart liked-btn"></span> 共感済み
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", method: :post, data: { "turbo-method": :post }) do %>
          <span class="fa fa-heart unliked-btn"></span> 共感！
        <% end %>
      <% end %>
      <!-- 共感の数を表示する -->
      <%= @likes_count %> 
      <!-- 共感したユーザーのリストの表示を行う画面へのリンクを追加 -->
      <%= link_to("共感したユーザー一覧", "/posts/#{@post.id}/likeusers") %>


      <!-- 編集ページへのリンクでログインしているユーザーと投稿者が同じ場合のみ表示する -->
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) %>
        </div>
      <% end %>


    <div class="post-comments">
  <h3>コメント一覧</h3>
  <% @post.comments.where(reply_to: nil).each do |comment| %>
    <div class="comment">
      <p>
        <strong>
          <%= link_to comment.user.name, user_path(comment.user.id) %>
        </strong>: <%= comment.content %>
      </p>

      <!-- 返信コメントの表示 -->
      <% comment.replies.each do |reply| %>
        <div class="reply" style="margin-left:20px;">
          <p>
            <strong>
              <%= link_to reply.user.name, user_path(reply.user.id) %>
            </strong>: <%= reply.content %>
          </p>
          <% if reply.user == current_user %>
            <form action="<%= destroy_comment_path(@post.id, reply.id) %>" method="post" style="display:inline;">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？')">削除</button>
            </form>
          <% end %>
        </div>
      <% end %>

      <!-- 返信ボタン -->
      <button class="btn btn-link" onclick="document.getElementById('reply-form-<%= comment.id %>').style.display = 'block';">返信</button>

      <!-- 返信フォーム -->
      <div id="reply-form-<%= comment.id %>" style="display:none; margin-left:20px;">
        <%= form_with url: create_comment_path(@post.id), method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.hidden_field :reply_to, value: comment.id %>
            <%= form.label :content, "返信内容" %>
            <%= form.text_area :content, class: "form-control", placeholder: "@#{comment.user.name} " %>
          </div>
          <div class="form-group">
            <%= form.submit "返信", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <% if comment.user == current_user %>
        <form action="<%= destroy_comment_path(@post.id, comment.id) %>" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？')">削除</button>
        </form>
      <% end %>
    </div>
  <% end %>
</div>

        <!-- コメント投稿フォーム -->
      <div class="new-comment">
        <%= form_with url: create_comment_path(@post.id), method: :post, local: true do |form| %>
        <div class="form-group">
          <%= form.label :content, "コメント" %>
          <%= form.text_area :content, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "投稿", class: "btn btn-primary" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>