<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <!-- ユーザーの画像を表示する -->
        <% if @post.anonymous %> 
          <img src="/user_images/default_anonymous.png" alt="匿名アイコン">
          <p>匿名ユーザー</p> 
        <% else %>

          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを設定している -->
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        <% end %>
      </div>

      <!-- 投稿のカテゴリーを表示する -->
      <div class="post-category">
        <%= @category.name %>
      </div>

      <p>
        <%= @post.content %>
      </p>

      <div class="post-time">      
        <%= @post.created_at %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      <!--共感！済みの場合の処理-->
        <%= link_to("/likes/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) do %>
          <span class="fa fa-heart liked-btn"></span> 共感済み
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", method: :post, data: { "turbo-method": :post }) do %>
          <span class="fa fa-heart unliked-btn"></span> 共感！
        <% end %>
      <% end %>
      <!-- 共感の数を表示する -->
      <%= @likes_count %> 
      <!-- 共感したユーザーのリストの表示を行う画面へのリンクを追加 -->
      <%= link_to("共感したユーザー一覧", "/posts/#{@post.id}/likeusers") %>


      <!-- 編集ページへのリンクでログインしているユーザーと投稿者が同じ場合のみ表示する -->
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", method: :delete, data: { "turbo-method": :delete }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>