<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bonds" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- 以下の行を追加して、FontAwesomeを読み込んでいる -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


  

  <!-- 各ビューファイル共通の処理 -->
  <body>
  <header>
    <div class="header-logo">
        <!--ログインしているときとしていないときでロゴのリンク先を変える-->
      <% if @current_user %>
        <%= link_to("マイコン", "/posts/index") %>
      <% else %>
        <%= link_to("マイコン", "/") %>
      <% end %>
    </div>
  <ul class="header-menus">
      <!-- ログインしているユーザーの情報をURLパラメータから取得して変数current_userに代入している。ここで変数を定義する理由は、ここは共通のヘッダー部分であり、ログインしているユーザーの情報を表示するためには、各アクションで定義した変数を使うことが手間がかかりすぎてできないため。 -->
    <!--before_actionを使うのでこの行はなし<% current_user = User.find_by(id: session[:user_id]) %>-->

    <!--ここでbefore_actionを使っているのでcurrent_userは使わずに@current_userを使う-->
      <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>さん
          </li>
        <!-- aタグでもいいがlink toメソッドを利用 -->
          <li>
            <!-- ここにlink_toメソッドを用いて投稿一覧ページへのリンクを作成してください -->
            <%= link_to "投稿一覧","/posts/index" %>
          </li>
          <li>
            <!-- 新規投稿ページへのリンクを追加した-->
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
            <!-- ユーザー一覧ページへのリンク -->
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li>
            <!-- ログアウト用のリンクを追加してください -->
            <%= link_to "ログアウト", "/logout", method: :delete, data: { "turbo-method": :delete } %>
          </li>
      <% else %>
    <!-- ログインしていない場合のリンク -->
          <li>
            <a href="/about">マイコンとは</a>
          </li>
            <!-- 新規ユーザー登録ページへのリンク -->
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
      <% end %>
  </ul>
</header>

<!--flashはいろいろな箇所で共通で使っていくのでapplication.html.erbで表示している。-->
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<!-- 各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
    <%= yield %>
  </body>
  
</html>
